<div>
  <form
    [formGroup]="form"
    (ngSubmit)="addAdmin(form.value)"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-card fxFlex.gt-xs="40" fxFlex.sm="70">
      <mat-card-title class="text-center">Password Panel</mat-card-title>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Portal Name</mat-label>
          <mat-select
            matNativeControl
            (selectionChange)="onDropdown($event)"
            formControlName="portal"
          >
            <mat-option value="c4cpass">C4C </mat-option>
            <mat-option value="eccpass">ECC </mat-option>
            <mat-option value="idppass">IDP </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('portal')?.invalid"
            >Portal Name is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" />
          <mat-error *ngIf="form.get('username')?.invalid"
            >Username is required</mat-error
          >
        </mat-form-field>
        <div class="left">
          <mat-icon matTooltip="show hide password" (click)="show()"
            >visibility</mat-icon
          >
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="{{ passType }}" matInput formControlName="password" />
            <mat-error *ngIf="form.get('password')?.invalid"
              >Password is required</mat-error
            >
          </mat-form-field>
        </div>
        <div class="button" fxLayoutAlign="center center">
          <button *ngIf="roles" type="submit" mat-raised-button color="primary">
            Submit
          </button>
          <button
            *ngIf="idp"
            style="margin-left:2%"
            type="button"
            (click)="testAPI()"
            mat-raised-button
            color="primary"
          >
            Test Connection
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
