<div *ngIf="role">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <mat-card fxFlex.gt-xs="100" fxFlex.sm="170">
      <mat-card-title class="text-center">Update Feature List</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="Name" />
          <mat-error *ngIf="form.get('Name')?.invalid"
            >Name is required</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select matNativeControl formControlName="Status">
            <mat-option value="Hidden">Hidden </mat-option>
            <mat-option value="Disabled">Disabled </mat-option>
            <mat-option value="Active">Active </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('Status')?.invalid"
            >Status is required</mat-error
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Message</mat-label>
          <input matInput formControlName="Message" />
          <mat-error *ngIf="form.get('Message')?.invalid"
            >Message is required</mat-error
          >
        </mat-form-field>
        <div>
          <mat-label>Show To Guest:  </mat-label>
          <mat-checkbox
            style="margin-left:2px"
            matInput
            formControlName="ShowtoGuest"
            class="example-margin"
          ></mat-checkbox>
        </div>

        <div class="button" fxLayoutAlign="center center">
          <button type="submit" mat-raised-button color="primary">
            Submit
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
<div *ngIf="!role">
  <mat-card fxFlex.gt-xs="100" fxFlex.sm="170">
    <mat-card-title class="text-center"> <mat-icon style="font-size: 60px; margin-right:35px ">warning</mat-icon> <h2>You don't have permission to access this feature</h2> </mat-card-title>
  </mat-card>
</div>
