<div class="height-100" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex.gt-xs="40" fxFlex.sm="70">
        <mat-card-title class="text-center">Login</mat-card-title>
    <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username / Email" formControlName="username">
          <mat-error *ngIf="loginForm.get('username')?.invalid">Username / Email is required</mat-error>
        </mat-form-field>
      </p>
      <div class="left">
          <mat-icon  *ngIf ="passTypeBool" (click)="show()"
            >visibility</mat-icon
          >
          <mat-icon (click)="show()" *ngIf ="!passTypeBool">visibility_off</mat-icon>
        <mat-form-field>
          <input maxlength="40" minlength="7" type="{{ passType }}" matInput placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.invalid">Password must be minimum 6 letters and alphanumeric</mat-error>
        </mat-form-field>
    </div>
      <mat-error *ngIf="errorMessageList.length"><span *ngFor="let error of errorMessageList">{{error.message}}</span></mat-error>
       
      <div style="margin-top:5%" class="button" fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="primary">Login</button>
      </div>
    
    </form>
    </mat-card-content>
    </mat-card> 
    
    <!-- <div fxLayout="row" fxFlexFill fxLayout.lt-sm="column" fxLayoutGap="16px">
      <mat-form-field fxFlex color="accent">
          <input matInput type="text" placeholder="Your first name" formControlName="firstName">
      </mat-form-field>
      <mat-form-field fxFlex color="accent">
          <input matInput type="text" placeholder="Your last name" formControlName="lastName">
      </mat-form-field>
    </div> -->
    </div>
